@charset "UTF-8";

@font-face {
    font-family: "SourceHanSansCN-Bold";
    src: url("../fonts/SourceHanSansCN-Bold.woff") format("woff"), url("../fonts/SourceHanSansCN-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "SourceHanSansCN-Medium";
    src: url("../fonts/SourceHanSansCN-Medium.woff") format("woff"), url("../fonts/SourceHanSansCN-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "SourceHanSansCN-Regular";
    src: url("../fonts/SourceHanSansCN-Regular.woff") format("woff"), url("../fonts/SourceHanSansCN-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
 

@font-face {
    font-family: "SKFChevinDemiBold";
    src: url("../fonts/SKFChevinDemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
 

@font-face {
    font-family: "SKFChevinMedium";
    src: url("../fonts/SKFChevinMedium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SKFChevinLight";
    src: url("../fonts/SKFChevinLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}