
@font-face {
    font-family: 'SourceHanSansCN-Regular';
    src: url('../fonts/SourceHanSansCN-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SKFChevinOT-Bold';
    src: url('../fonts/SKFChevinOT-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'SKFChevinOT-DemiBold';
    src: url('../fonts/SKFChevinOT-DemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'SKFChevinOT-Medium';
    src: url('../fonts/SKFChevinOT-Medium.otf') format('opentype');
}

